/* Estilos generales */
.login-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url('../img/pexels-photo-3922921.jpeg') no-repeat center center;
    background-size: cover;
  }
  
  .login-banner {
    flex: 1;
    color: rgb(49, 155, 0);
    text-align: center;
    padding: 20px;
  }
  .login-banner h1{
    font-size: 3rem;
  }  
  .login-banner p {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .login-form {
    flex: 1;
    background-color: rgba(245, 252, 233, 0.767);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 1rem;
  }

  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }